<main class="row justify-content-center mt-5">
    <h1 class="h3 mb-3 fw-normal text-center">Sign Up</h1>

    <form class="col-md-5 text-center" [formGroup]="signupForm">

        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@groupomania.io" required formControlName="email" [ngClass]="{'is-invalid': signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)}">
            <label for="floatingEmail">Email</label>

            <div class="text-danger" *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)">
                <div *ngIf="signupForm.controls['email'].errors?.['required']">Email is required</div>
                <div *ngIf="signupForm.controls['email'].errors?.['email']">Email must be a valid email address</div>
            </div>
        </div>

        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="password" required minlength="6" formControlName="password" [ngClass]="{'is-invalid': signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)}">
            <label for="floatingPassword">Password</label>

            <div class="text-danger" *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
                <div *ngIf="signupForm.controls['password'].errors?.['required']">Password is required</div>
                <div *ngIf="signupForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters</div>
              </div>
        </div>

        <button class="w-100 btn btn-lg btn-primary  mt-3" type="button" [disabled]="signupForm.invalid" (click)="onSignup()">Sign Up</button>
    </form>
</main>